@model LiquidFlowLogin.Models.RocketFuel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>RocketFuel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FuelName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuelType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelType.FuelTypeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuelAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FuelPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FuelPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuyCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuyCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RocketFuelID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
