@model IEnumerable<LiquidFlowLogin.Models.RocketOxidizer>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OxidizerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OxidizerAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OxidizerPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuyCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OxidizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OxidizerAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OxidizerPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyCost)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RocketOxidizerID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RocketOxidizerID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RocketOxidizerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
