@model IEnumerable<LiquidFlowLogin.Models.RocketPropellant>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RocketFuel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RocketOxidizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mixture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SafetyRecord)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RocketFuel.RocketFuelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RocketOxidizer.RocketOxidizerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mixture.MixtureID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName.SupplierNameID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SafetyRecord.SafetyRecordID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RocketPropellantID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RocketPropellantID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RocketPropellantID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
